.box {
  padding: 4px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.header .label {
  margin-right: 8px;
  font-weight: bold;
}

.checkPlace {
  height: 20px;
  padding-top: 4px;
}

.body {
  display: flex;
}

.active {
  color: #1677ff;
  font-size: 16px;
}
