.container {
    position: fixed;
    z-index: 101;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -21vh;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 100vw;
    padding: 0 4px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.mask {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}
.toggler {
    background: #201c1c;
    height: 3.5vh;
    color: #fff;
    position: absolute;
    bottom: -3vh;
    line-height: 3.5vh;
    /* left: 50%;
    transform: translateX(-50%); */
    right: 0;
    padding: 0 2vh;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
}

.panel {
    display: flex;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
}

.panel::-webkit-scrollbar {
    display: none;
}

.block {
    padding: 10px 5px;
    position: relative;
}

.block img {
    height: 100%;
}
.block .imgBox {
    height: 36vh;
}

.action {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    background: #201c1c;
}

.action .count {
    flex-grow: 1;
    text-align: center;
    font-size: 2.5vh;
}

.action .btn {
    font-size: 2.5vh;
    color: #fff;
    padding: 2vh;
}

.action .disabledBtn {
    font-size: 2.5vh;
    color: #555;
    padding: 2vh;
}

.button {
    width: 100%;
    color: #777;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    padding: 15px 25px;
    background: transparent;
    border: 2px solid #666;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
}
.button .text {
    flex-grow: 1;
}
