.box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 6px 0;
}

.desc {
    font-size: 14px;
}

.item {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    padding: 5px 10px;
    border-radius: 80px;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
}

.activeItem {
    display: flex;
    align-items: center;
    border: 2px solid #1677ff;
    padding: 5px 10px;
    border-radius: 80px;
    color: #1677ff;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
}
.icon {
    margin-right: 5px;
    display: flex;
    align-items: center;
}
