.box {
    display: flex;
    flex-wrap: wrap;
}

.desc {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
    display: flex;
    align-items: center;
    border: 2px solid #201c1c;
    padding: 4px 10px;
    border-radius: 80px;
}
.icon {
    margin-right: 5px;
}
