.button {
  display: inline-block;
  border: 1px solid #3c89e8;
  border-radius: 50px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  /* color: rgba(255, 255, 255, 0.8); */
  color: #3c89e8;
}

.text {
  margin-left: 3px;
}

.container {
  padding-bottom: 8px;
}
.footer {
  text-align: right;
}

.row {
  display: flex;
  align-items: center;
}
.row .label {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  margin-right: 8px;
}
